<div class="main">
  <div
    class="parent position-absolute container meduim rounded-4 overflow-hidden border border-white"
  >
    <form
      class="form-floating form position-absolute meduim"
      #allValues="ngForm"
    >
      <!-- Div For Username -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          autocomplete="username"
          id="username"
          name="username"
          ngModel
          #username="ngModel"
          placeholder="name@example.com"
          username
          [ngClass]="{
            'is-invalid':
              username.valid == false ||
              (username.touched && username.value === ''),
            'is-valid': username.valid == true && username.value != ''
          }"
        />
        <label for="username">{{ "username" | titlecase }}</label>

        <!-- userName Warn -->
        <div class="warn">
          <p
            *ngIf="username.touched && username.value === ''"
            class="text-danger my-2 ps-1"
          >
            {{ "*username is required" | titlecase }}
          </p>
        </div>
      </div>

      <!-- Div For Email -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          autocomplete="email"
          id="email"
          name="email"
          ngModel
          #email="ngModel"
          placeholder="name@example.com"
          email
          [ngClass]="{
            'is-invalid':
              email.valid == false || (email.touched && email.value === ''),
            'is-valid': email.valid == true && email.value != ''
          }"
          pattern=".*@.*\..*"
        />
        <label for="email">{{ "email" | titlecase }}</label>

        <!-- Email Warn -->
        <div class="warn">
          <p
            *ngIf="email.touched && email.value === ''"
            class="text-danger my-2 ps-1"
          >
            {{ "*email is required" | titlecase }}
          </p>
          <p
            *ngIf="email.touched && email.value !== '' && email.valid === false"
            class="text-danger my-2 ps-1"
          >
            {{ "*incorrect email" | titlecase }}
          </p>
        </div>
      </div>

      <!-- Div For Password -->
      <div class="form-floating password mb-3">
        <input
          type="password"
          class="form-control"
          autocomplete="current-password"
          id="password"
          name="password"
          ngModel
          #password="ngModel"
          placeholder="password"
          [ngClass]="{
            'is-invalid':
              password.valid == false ||
              (password.touched && password.value === ''),
            'is-valid': password.valid == true && password.value != ''
          }"
        />
        <label for="password">{{ "password" | titlecase }}</label>
        <!-- Email Warn -->
        <div class="warn">
          <p
            *ngIf="password.touched && password.value === ''"
            class="text-danger my-2 ps-1"
          >
            {{ "*password is required" | titlecase }}
          </p>
          <p
            *ngIf="
              password.touched &&
              password.value !== '' &&
              password.valid === false
            "
            class="text-danger my-2 ps-1"
          >
            {{ "*incorrect password" | titlecase }}
          </p>
        </div>
      </div>

      <!-- Div For Reset Password -->
      <div class="form-floating password mb-3">
        <input
          type="password"
          class="form-control"
          autocomplete="current-password"
          id="confirmpassword"
          name="confirmpassword"
          ngModel
          #confirmpassword="ngModel"
          placeholder="confirmpassword"
          [ngClass]="{
            'is-valid':
              password.valid == true &&
              password.value != '' &&
              password.value == confirmpassword.value
          }"
        />
        <label for="confirmpassword">{{
          "confirm password" | titlecase
        }}</label>
        <!-- Email Warn -->
        <div class="warn">
          <p
            *ngIf="
              password.touched &&
              confirmpassword.touched &&
              password.value !== confirmpassword.value
            "
            class="text-danger my-2 ps-1"
          >
            {{ "*password isn't match" | titlecase }}
          </p>
          <p
            *ngIf="
              password.touched &&
              password.value !== '' &&
              password.valid === false
            "
            class="text-danger my-2 ps-1"
          >
            {{ "*incorrect password" | titlecase }}
          </p>
        </div>
      </div>

      <b class="text-white text-center d-block my-3">{{ "or" | uppercase }}</b>

      @if
      (username.value!=''&&email.value!=''&&password.value!=''&&confirmpassword.value!=''&&password.value==confirmpassword.value&&allValues.valid==true)
      {
      <button class="btn btn-success w-100 mb-2">
        {{ "signup" | titlecase }}
      </button>
      } @else {
      <button class="btn btn-success w-100 mb-2" disabled>
        {{ "signup" | titlecase }}
      </button>
      }

      <a routerLink="/login" class="text-center d-block">{{
        "already have an account" | titlecase
      }}</a>
    </form>
  </div>
</div>
