<div class="main">
  <div
    class="parent position-absolute container meduim rounded-4 overflow-hidden border border-white"
  >
    <form class="form-floating form position-absolute meduim">
      <!-- Div For Email -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          autocomplete="email"
          id="email"
          name="email"
          ngModel
          #email="ngModel"
          placeholder="name@example.com"
          email
          [ngClass]="{
            'is-invalid':
              email.valid == false || (email.touched && email.value === ''),
            'is-valid': email.valid == true && email.value != ''
          }"
          pattern=".*@.*\..*"
        />
        <label for="email">{{ "email" | titlecase }}</label>

        <!-- Email Warn -->
        <div class="warn">
          <p
            *ngIf="email.touched && email.value === ''"
            class="text-danger my-2 ps-1"
          >
            {{ "*email is required" | titlecase }}
          </p>
          <p
            *ngIf="email.touched && email.value !== '' && email.valid === false"
            class="text-danger my-2 ps-1"
          >
            {{ "*incorrect email" | titlecase }}
          </p>
        </div>
      </div>

      <!-- Div For Password -->
      <div class="form-floating password mb-3">
        <input
          type="password"
          class="form-control"
          autocomplete="current-password"
          id="password"
          name="password"
          ngModel
          #password="ngModel"
          placeholder="password"
        />
        <label for="password">{{ "password" | titlecase }}</label>
      </div>

      <!-- LogIn Buttopn -->
      <button class="btn btn-primary w-100">
        {{ "login" | titlecase }}
      </button>

      <b class="text-white text-center d-block my-3">{{ "or" | uppercase }}</b>

      <a routerLink="/register" class="text-center d-block">{{
        "creat a new account" | titlecase
      }}</a>
    </form>
  </div>
</div>
